*.suo
/DWSIM/obj
/DWSIM/bin/Debug
/DWSIM/bin/x86/Debug
/DWSIM/bin/Release
/DWSIM/bin/x86/Release
InstallFiles
obj
bin
/DWSIM4.suo
/GraphicObjects/bin
/CustomXMLSerializer/bin
/GraphicObjects/bin
/GraphicsSurface/bin
/NaturalGas/bin
/PropertyGridEx/PropertyGridEx/bin
/DWSIM/bin/Debug
/.gitattributes
/DWSIM/System.pdb/712A1BFCA3C04308BE741B49494055D41/System.pd_
/DWSIM/bin/x86/Release/derby.log
*.user
/DWSIM/bin/x86/Release/Microsoft.Scripting.xml
/DWSIM/bin/x86/Release/en-US/DWSIM.resources.dll
/DWSIM/bin/x86/Release/CoolPropInterface.pdb
/DWSIM/bin/x86/Release/IronPython.Modules.pdb
/DWSIM/bin/x86/Release/IronPython.Modules.xml
/DWSIM/bin/x86/Release/IronPython.pdb
/DWSIM/bin/x86/Release/IronPython.xml
/DWSIM/bin/x86/Release/Microsoft.Dynamic.pdb
/DWSIM/bin/x86/Release/Microsoft.Dynamic.xml
/DWSIM/bin/x86/Release/Microsoft.Scripting.Metadata.dll
/DWSIM/bin/x86/Release/Microsoft.Scripting.Metadata.xml
/DWSIM/bin/x86/Release/Microsoft.Scripting.pdb
/DWSIM/bin/x86/Release/Microsoft.ServiceBus.dll
/DWSIM/bin/x86/Release/TcpComm.*
/DWSIM/Thumbs.db
/DWSIM/bin/Release/DWSIM.exe.config
/DWSIM/bin/Release/DWSIM.vshost.exe
/DWSIM/bin/Release/DWSIM.vshost.exe.config
/DWSIM/bin/Release/DWSIM.vshost.exe.manifest
/CoolPropInterface/bin/Release/CoolPropInterface.pdb
/CoolPropInterface/bin/Release/CoolPropInterface.dll
/DWSIM/bin/x86/Release/plugins/NaturalGas.dll.config
/DWSIM/bin/x86/Release/version.txt
/DWSIM/bin/x86/Release/AzureServer.exe
/DWSIM/bin/x86/Release/AzureServer.exe.config
/DWSIM/bin/x86/Release/AzureServer.pdb
/DWSIM/bin/x86/Release/AzureServer.xml
/DWSIM/bin/x86/Release/GenericDictionaryEditor.dll
/DWSIM/bin/x86/Release/releasenotes.txt
/DWSIM/bin/x86/Release/TCPServer.exe
/DWSIM/bin/x86/Release/TCPServer.exe.config
/DWSIM/bin/x86/Release/TCPServer.pdb
/DWSIM/bin/x86/Release/TCPServer.xml
/NaturalGas/NaturalGas.sln.cache
/DWSIM/bin/x86/Release/GemBox.Spreadsheet.xml
/DWSIM/version.txt
/DWSIM/Resources/Thumbs.db
/DWSIM/bin/Release
*.pdb
DWSIM/bin/x86/Release/Jolt.Testing.GeneratedTypes.xml
DWSIM/bin/x86/Release/Jolt.xml
DWSIM/bin/x86/Release/Jolt.Testing.GeneratedTypes.dll
DWSIM/bin/x86/Release/Jolt.dll
DWSIM/bin/x86/Release/ScintillaNET.dll
DWSIM/bin/x86/Release/ScintillaNET.xml
DWSIM/bin/x86/Release/Yeppp.CLR.Bundle.dll
DWSIM/bin/x86/Release/Yeppp.CLR.Bundle.xml
DWSIM/bin/x86/Release/ThemeVS2012Light.dll
DWSIM/bin/x86/Release/ThemeVS2012Light.pdb
TabStrip/bin/Release/*
TabStrip/bin/Debug/*
AzureServer/bin/Debug/*
CoolPropInterface/bin/Debug/*
TCPServer/bin/Debug/*
/TCPServer/bin/Debug
/TabStrip/bin/Debug
/GenericDictionaryEditor/bin/Debug
/GenericDictionaryEditor/bin/Release/GenericDictionaryEditor.dll
/RunAsx86/bin/Debug/RunAsx86.exe
/DWSIM.Thermodynamics/bin/Debug
/DWSIM.UnitOperations/bin/Debug
/SkiaSharpWrapper/bin/Debug
/DWSIM.Drawing/bin/Debug
/DWSIM.Interfaces/bin/Debug
/DWSIM.SharedClasses/bin/Debug
/DWSIM.Drawing/bin/Release
/DWSIM.Interfaces/bin/Release
/DWSIM.SharedClasses/bin/Release
/DWSIM.Thermodynamics/bin/Release
/DWSIM.GlobalSettings/bin/Debug
/DWSIM.Math/bin/Debug
/DWSIM.FlowsheetSolver/bin/Debug
/DWSIM.Compounds/bin/Debug
/RandomOps/bin
/SwarmOps/bin/Debug
/SwarmOps/bin/Release
/DWSIM.ExtensionMethods/bin/Debug
/DWSIM.Updater/bin/Debug
/DWSIM.FileDownloader/bin/Debug
/DWSIM.Thermodynamics.NativeLibraries/bin/Debug
/packages/SkiaSharp.Views.1.55.1
/packages/SkiaSharp.1.55.1
/packages
/DistPackages
/.vs/DWSIM5/v15/Server/sqlite3
/.vs
/DWSIM/.vs
