*.suo
/DWSIM/obj
/DWSIM/bin/Debug
/DWSIM/bin/x86/Debug
InstallFiles
obj
/DWSIM4.suo
/GraphicObjects/bin
/CustomXMLSerializer/bin
/GraphicObjects/bin
/GraphicsSurface/bin
/NaturalGas/bin
/PropertyGridEx/PropertyGridEx/bin
/DWSIM/bin/Debug
/DWSIM/bin/x86/Debug
/DWSIM/bin/x86/Release/AeroWizard.dll
/DWSIM/bin/x86/Release/AeroWizard.xml
/DWSIM/bin/x86/Release/Ascend.Resources.dll
/DWSIM/bin/x86/Release/Ascend.Windows.Forms.dll
/DWSIM/bin/x86/Release/Ascend.dll
/DWSIM/bin/x86/Release/CapeOpen.dll
/DWSIM/bin/x86/Release/Ciloci.Flee.dll
/DWSIM/bin/x86/Release/CoolPropInterface.dll
/DWSIM/bin/x86/Release/Cureos.Numerics.dll
/DWSIM/bin/x86/Release/DWSIM.XMLSerializer.dll
/DWSIM/bin/x86/Release/DWSIM.XMLSerializer.pdb
/DWSIM/bin/x86/Release/DWSIM.XMLSerializer.xml
/DWSIM/bin/x86/Release/DWSIM.exe
/DWSIM/bin/x86/Release/DWSIM.exe.config
/DWSIM/bin/x86/Release/DWSIM.exe.mdb
/DWSIM/bin/x86/Release/DWSIM.pdb
/DWSIM/bin/x86/Release/DWSIM.vshost.exe
/DWSIM/bin/x86/Release/DWSIM.vshost.exe.config
/DWSIM/bin/x86/Release/DWSIM.vshost.exe.manifest
/DWSIM/bin/x86/Release/DWSIM.xml
/DWSIM/bin/x86/Release/DotNumerics.dll
/DWSIM/bin/x86/Release/EWSoftware.StatusBarText.dll
/DWSIM/bin/x86/Release/ExcelDna.Integration.dll
/DWSIM/bin/x86/Release/ExcelAPI.dll
/DWSIM/bin/x86/Release/ExcelAPI.xml
/DWSIM/bin/x86/Release/FileHelpers.dll
/DWSIM/bin/x86/Release/GemBox.Spreadsheet.dll
/DWSIM/bin/x86/Release/GraphicObjects.dll
/DWSIM/bin/x86/Release/GraphicObjects.pdb
/DWSIM/bin/x86/Release/GraphicObjects.xml
/DWSIM/bin/x86/Release/GraphicsSurface.dll
/DWSIM/bin/x86/Release/GraphicsSurface.pdb
/DWSIM/bin/x86/Release/GraphicsSurface.xml
/DWSIM/bin/x86/Release/ICSharpCode.SharpZipLib.dll
/DWSIM/bin/x86/Release/IKVM.AWT.WinForms.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Beans.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Core.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Jdbc.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Media.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Misc.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Naming.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Remoting.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Security.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.SwingAWT.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Text.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.Util.dll
/DWSIM/bin/x86/Release/IKVM.OpenJDK.XML.API.dll
/DWSIM/bin/x86/Release/IKVM.Runtime.JNI.dll
/DWSIM/bin/x86/Release/IKVM.Runtime.dll
/DWSIM/bin/x86/Release/Infralution.Localization.dll
/DWSIM/bin/x86/Release/Interop.CAPEOPEN110.dll
/DWSIM/bin/x86/Release/IronPython.Modules.dll
/DWSIM/bin/x86/Release/IronPython.dll
/DWSIM/bin/x86/Release/LabelWithDivider.dll
/DWSIM/bin/x86/Release/LuaInterface.dll
/DWSIM/bin/x86/Release/Mapack.dll
/DWSIM/bin/x86/Release/Microsoft.Dynamic.dll
/DWSIM/bin/x86/Release/Microsoft.Scripting.dll
/DWSIM/bin/x86/Release/Mono.CSharp.dll
/DWSIM/bin/x86/Release/NeoDataType.LiveCodeEngine.dll
/DWSIM/bin/x86/Release/NeoDataType.MyNeoReport.dll
/DWSIM/bin/x86/Release/NeoDataType.Serialization.1.2.dll
/DWSIM/bin/x86/Release/Nini.dll
/DWSIM/bin/x86/Release/OfficeAPI.dll
/DWSIM/bin/x86/Release/OfficeAPI.xml
/DWSIM/bin/x86/Release/OutlookGrid.dll
/DWSIM/bin/x86/Release/PropertyGridEx.dll
/DWSIM/bin/x86/Release/PropertyGridEx.pdb
/DWSIM/bin/x86/Release/PropertyGridEx.xml
/DWSIM/bin/x86/Release/Puzzle.SyntaxBox.NET2.0.dll
/DWSIM/bin/x86/Release/RichTextBoxExtended.dll
/DWSIM/bin/x86/Release/SpinningProgress.dll
/DWSIM/bin/x86/Release/SuperToolTip.dll
/DWSIM/bin/x86/Release/TabStrip.dll
/DWSIM/bin/x86/Release/Thumbs.db
/DWSIM/bin/x86/Release/WeifenLuo.WinFormsUI.Docking.dll
/DWSIM/bin/x86/Release/ZedGraph.dll
/DWSIM/bin/x86/Release/de/DWSIM.resources.dll
/DWSIM/bin/x86/Release/dwsim_file.ico
/DWSIM/bin/x86/Release/en/DWSIM.resources.dll
/DWSIM/bin/x86/Release/es/DWSIM.resources.dll
/DWSIM/bin/x86/Release/jcosmo_net.dll
/DWSIM/bin/x86/Release/plugins/NaturalGas.dll
/DWSIM/bin/x86/Release/plugins/NaturalGas.pdb
/DWSIM/bin/x86/Release/plugins/NaturalGas.xml
/DWSIM/bin/x86/Release/indigo-dotnet.dll
/DWSIM/bin/x86/Release/indigo-inchi-dotnet.dll
/DWSIM/bin/x86/Release/indigo-renderer-dotnet.dll
/DWSIM/bin/x86/Release/VBIDEApi.dll
/DWSIM/bin/x86/Release/VBIDEApi.xml
/DWSIM/bin/x86/Release/Broyden.cdfy
/DWSIM/bin/x86/Release/CUDAFYSOURCETEMP.cu
/DWSIM/bin/x86/Release/CUDAFYSOURCETEMP.ptx
/DWSIM/bin/x86/Release/CapeOpen.pdb
/DWSIM/bin/x86/Release/CapeOpen.xml
/DWSIM/bin/x86/Release/Cudafy.NET.dll
/DWSIM/bin/x86/Release/Cudafy.NET.xml
/DWSIM/bin/x86/Release/DWSIM.exe.eqbak
/DWSIM/bin/x86/Release/DWSIM.ini
/DWSIM/bin/x86/Release/EQATEC.Profiler.RuntimeFullNet.dll
/DWSIM/bin/x86/Release/app.eqconfig
/DWSIM/bin/x86/Release/chemsepdb/chemsep1 - original.xml
/DWSIM/bin/x86/Release/chemsepdb/chemsep1.xml
/DWSIM/bin/x86/Release/cudacode.cdfy
/DWSIM/bin/x86/Release/help/Pictures/Thumbs.db
/.gitattributes
/DWSIM/System.pdb/712A1BFCA3C04308BE741B49494055D41/System.pd_
/DWSIM/bin/x86/Release/derby.log
*.user
/DWSIM/bin/x86/Release/Microsoft.Scripting.xml
/DWSIM/bin/x86/Release/en-US/DWSIM.resources.dll
/DWSIM/bin/x86/Release/CoolPropInterface.pdb
/DWSIM/bin/x86/Release/IronPython.Modules.pdb
/DWSIM/bin/x86/Release/IronPython.Modules.xml
/DWSIM/bin/x86/Release/IronPython.pdb
/DWSIM/bin/x86/Release/IronPython.xml
/DWSIM/bin/x86/Release/Microsoft.Dynamic.pdb
/DWSIM/bin/x86/Release/Microsoft.Dynamic.xml
/DWSIM/bin/x86/Release/Microsoft.Scripting.Metadata.dll
/DWSIM/bin/x86/Release/Microsoft.Scripting.Metadata.xml
/DWSIM/bin/x86/Release/Microsoft.Scripting.pdb
/DWSIM/bin/x86/Release/Microsoft.ServiceBus.dll
/DWSIM/bin/x86/Release/TcpComm.*
/DWSIM/Thumbs.db
/DWSIM/bin/Release/DWSIM.exe.config
/DWSIM/bin/Release/DWSIM.vshost.exe
/DWSIM/bin/Release/DWSIM.vshost.exe.config
/DWSIM/bin/Release/DWSIM.vshost.exe.manifest
/CoolPropInterface/bin/Release/CoolPropInterface.pdb
/CoolPropInterface/bin/Release/CoolPropInterface.dll
/DWSIM/bin/x86/Release/plugins/NaturalGas.dll.config
/DWSIM/bin/x86/Release/version.txt
/DWSIM/bin/x86/Release/AzureServer.exe
/DWSIM/bin/x86/Release/AzureServer.exe.config
/DWSIM/bin/x86/Release/AzureServer.pdb
/DWSIM/bin/x86/Release/AzureServer.xml
/DWSIM/bin/x86/Release/GenericDictionaryEditor.dll
/DWSIM/bin/x86/Release/releasenotes.txt
/DWSIM/bin/x86/Release/TCPServer.exe
/DWSIM/bin/x86/Release/TCPServer.exe.config
/DWSIM/bin/x86/Release/TCPServer.pdb
/DWSIM/bin/x86/Release/TCPServer.xml
/NaturalGas/NaturalGas.sln.cache
/DWSIM/bin/x86/Release/GemBox.Spreadsheet.xml
/DWSIM/version.txt
/DWSIM/Resources/Thumbs.db
/DWSIM/bin/Release
*.config
*.pdb
DWSIM/bin/x86/Release/Jolt.Testing.GeneratedTypes.xml
DWSIM/bin/x86/Release/Jolt.xml
DWSIM/bin/x86/Release/Jolt.Testing.GeneratedTypes.dll
DWSIM/bin/x86/Release/Jolt.dll
DWSIM/bin/x86/Release/ScintillaNET.dll
DWSIM/bin/x86/Release/ScintillaNET.xml
DWSIM/bin/x86/Release/Yeppp.CLR.Bundle.dll
DWSIM/bin/x86/Release/Yeppp.CLR.Bundle.xml
DWSIM/bin/x86/Release/ThemeVS2012Light.dll
DWSIM/bin/x86/Release/ThemeVS2012Light.pdb
TabStrip/bin/Release/*
TabStrip/bin/Debug/*
AzureServer/bin/Debug/*
CoolPropInterface/bin/Debug/*
TCPServer/bin/Debug/*
/TCPServer/bin/Debug
/TabStrip/bin/Debug
/GenericDictionaryEditor/bin/Debug
/GenericDictionaryEditor/bin/Release/GenericDictionaryEditor.dll
/RunAsx86/bin/Debug/RunAsx86.exe
/DWSIM.Thermodynamics/bin/Debug
/DWSIM.UnitOperations/bin/Debug
/SkiaSharpWrapper/bin/Debug
/DWSIM.Drawing/bin/Debug
/DWSIM.Interfaces/bin/Debug
/DWSIM.SharedClasses/bin/Debug
/DWSIM.Drawing/bin/Release
/DWSIM.Interfaces/bin/Release
/DWSIM.SharedClasses/bin/Release
/DWSIM.Thermodynamics/bin/Release
/DWSIM.GlobalSettings/bin/Debug
/DWSIM.Math/bin/Debug
/DWSIM.FlowsheetSolver/bin/Debug
