<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DWSIM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DWSIM.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <DWSIM.My.MySettings>
            <setting name="UserUnits" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupActivated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CultureInfo" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ChemSepDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplaceComps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RedirectOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableParallelProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxDegreeOfParallelism" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EnableGPUProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedGPU" serializeAs="String">
                <value />
            </setting>
            <setting name="CudafyTarget" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CudafyDeviceID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowCoolPropWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SolverMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServiceBusConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SolverTimeoutSeconds" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="SolverBreakOnException" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorePreviousSolutions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowWhatsNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveBackupFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxThreadMultiplier" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TaskScheduler" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSIMDExtensions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSimulationToolStrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFlowsheetToolStrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUnitsToolStrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClipboardCopyMode_Compounds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ClipboardCopyMode_PropertyPackages" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UndoRedo_RecalculateFlowsheet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MostRecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ObjectSelectorSplitterDistance1" serializeAs="String">
                <value>351</value>
            </setting>
            <setting name="ObjectSelectorSplitterDistance2" serializeAs="String">
                <value>86</value>
            </setting>
            <setting name="ObjectSelectorSplitterDistance3" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="CloseFormsOnDeselecting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultEditorLocation" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AutomaticUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMultipleObjectEditors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimulationUpgradeWarning" serializeAs="String">
                <value>True</value>
            </setting>
        </DWSIM.My.MySettings>
    </userSettings>
    <applicationSettings>
        <DWSIM.My.MySettings>
            <setting name="PreviewVersion" serializeAs="String">
                <value>Release Candidate 2 (RC2)</value>
            </setting>
        </DWSIM.My.MySettings>
    </applicationSettings>
</configuration>
