<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net471" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net471" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net471" />
  <package id="CefSharp.WinForms" version="69.0.0" targetFramework="net471" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.8.14" targetFramework="net471" />
  <package id="IronPython" version="2.7.9" targetFramework="net471" />
  <package id="IronPython.StdLib" version="2.7.9" targetFramework="net471" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.7.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="OpenTK" version="3.0.1" targetFramework="net471" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net471" />
  <package id="OxyPlot.Core" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="OxyPlot.WindowsForms" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net471" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="net471" />
  <package id="SkiaSharp.Extended" version="1.60.0" targetFramework="net471" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net471" />
</packages>