<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net462" />
  <package id="Microsoft.Web.WebView2" version="1.0.1587.40" targetFramework="net462" />
  <package id="SkiaSharp" version="1.68.2.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
</packages>