<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.OxyPlot" version="1.2.0-beta" targetFramework="net45" />
  <package id="Eto.OxyPlot.Wpf" version="1.2.0-beta" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net471" />
  <package id="NetOfficeFw.Core" version="1.8.1" targetFramework="net462" />
  <package id="NetOfficeFw.Excel" version="1.8.1" targetFramework="net462" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
  <package id="OxyPlot.Core" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="OxyPlot.Wpf" version="2.0.0-unstable1035" targetFramework="net471" />
  <package id="SharpDX" version="4.0.1" targetFramework="net471" />
  <package id="SharpDX.Direct2D1" version="4.0.1" targetFramework="net471" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net471" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net471" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net462" />
  <package id="SkiaSharp" version="1.68.2.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="WindowsAPICodePack" version="1.1.2" targetFramework="net462" />
</packages>