<configuration>
<dllmap os="osx" dll="libgtk-win32-2.0-0.dll" target="libgtk-quartz-2.0.0.dylib" />
<dllmap os="osx" dll="glibsharpglue-2" target="libglibsharpglue-2.so" />
<dllmap os="osx" dll="libgthread-2.0-0" target="libgthread-2.0.0.dylib" />
<dllmap os="osx" dll="libgthread-2.0-0.dll" target="libgthread-2.0.0.dylib" />
<dllmap os="osx" dll="libglib-2.0-0.dll" target="libglib-2.0.0.dylib" />
<dllmap os="osx" dll="libgobject-2.0-0.dll" target="libgobject-2.0.0.dylib" />
<dllmap os="osx" dll="libgdk-win32-2.0-0.dll" target="libgdk-quartz-2.0.0.dylib" />
<dllmap os="osx" dll="libgdk_pixbuf-2.0-0.dll" target="libgdk_pixbuf-2.0.0.dylib" />
<dllmap os="osx" dll="libpango-1.0-0.dll" target="libpango-1.0.dylib" />
<dllmap os="osx" dll="libpangocairo-1.0-0.dll" target="libpangocairo-1.0.dylib" />
</configuration>