<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDna.AddIn" version="0.33.9" targetFramework="net461" />
  <package id="ExcelDna.Integration" version="0.33.9" targetFramework="net461" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
</packages>