<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.OxyPlot" version="1.2.0-beta" targetFramework="net45" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net462" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
  <package id="OxyPlot.Core" version="2.0.0-unstable0956" targetFramework="net471" />
  <package id="OxyPlot.GtkSharp" version="2.0.0-unstable0956" targetFramework="net471" />
  <package id="SkiaSharp" version="1.68.2.1" targetFramework="net461" requireReinstallation="true" />
  <package id="SkiaSharp.NativeAssets.Linux" version="1.68.2.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
</packages>