**/bin/
**/obj/
**/.vs/
**/.vscode/
*.user
*.suo
*.dbmdl
*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/.git
**/.gitignore
**/.dockerignore
**/README.md
**/LICENSE
