html,body, ul, ol, li, td { 
	/* Default Font */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h2, h3 {margin-bottom:0px;}

td {vertical-align:top;}

em {color:blue; font-size:110%; background-color:#eeeeee; font-weight:bold;}


table.GreyBG 
{
    background-color:#E0E0E0;
    border: 2px solid black;
    border-collapse: collapse;
}
